.wineTitle {
  font-family: "Pacifico", cursive;
  color: black;
  margin-left: 5rem;
}
.phrase {
  color: white;
  text-align: center;
  font-family: "Pacifico", cursive;
}

.myWines {
  font-family: "Pacifico", cursive;
  color: white;
  text-align: center;
}
.cheeseTitle {
  font-family: "Pacifico", cursive;
  color: black;
  margin-left: 15rem;
  margin-bottom: 0px;
}
.cheeseList {
  font-family: "Pacifico", cursive;
  color: black;
  margin-left: 17rem;
}
.wineName {
  font-family: "Pacifico", cursive;
  color: black;
  margin-left: 5rem;
  font-size: 20px;
}
.form-control {
  margin: 2rem;
}
.name,
.rating {
  color: black;
  font-family: "Pacifico", cursive;
}
.form-horizontal {
  text-align: center;
}
.HomePage {
  color: white;
  font-family: "Pacifico", cursive;
}
.block {
  background-color: wheat;
  margin: auto;
  margin-right: 10rem;
  margin-left: 10rem;
  border-radius: 1rem;
}
table {
  margin-top: 0;
}
.cheeseTableHead {
  font-size: 20px;
  text-decoration: underline;
  margin-top: 0;
}
.tdCheese {
  padding-right: 30px;
}
.wineHeader {
  text-decoration: underline;
}
